*.suo
*.ncb
*.obj
*.html
*.htm
*.ilk
*.pdb
*.idb
*.dep
*.exe
ipch/
*.opensdf
*.sdf
bin/intermediate
bin/final/Coop.exe
bin/final/Coop.ilk
bin/final/Coop.pdb
bin/final/Debug/log/*
bin/*
*.tlog
*.log
*.user
CoopUtils/*/Debug/*
CoopUtils/SpriteLib/renders/*.bmp
